<html>
	<head></head>
	<body>
		Dear <%= @customer.full_name %><br>

		<p>Thank you for your order. Please find below the details of your order.</p>

		<% @order.order_items.each do |item| %>
			<p><%= item.quantity %>&nbsp; &times;&nbsp; <%= item.book.title %>&nbsp;
			<%= number_to_currency("#{item.line_total}") %></p>
		<% end %>

		<p>Total order: <%= number_to_currency(@order.order_total) %></p><br>

		<p>Best regards,</p><br>
		Bookstore Sales Team
	</body>
</html>